<form action="/figures/<%=@figure.id%>" method="POST">
  <label>Name:</label>
  <br></br>
  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">
  <br></br>

  <label>Choose an existing landmark:</label>
  <%@landmarks.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %> id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a landmark:</label>
  <br></br>

  <label>Name:</label>
    <input type="text" name="landmark[name]" id="new_landmark"></input>
  <br></br>

  <label>Choose an existing title:</label>
  <%@titles.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title) %> id="title_<%=title.id%>"><%=title.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a title:</label>
  <br></br>

  <label>Name:</label>
    <input type="text" name="title[name]" id="new_title"></input>
  <br></br>

  <input type="submit" value="Edit Figure">
</form>
